@font-face {
  font-family: "Europa-Bold";
  src: url("../assets/fonts/Europa-Bold.woff") format("woff2"), url("../assets/fonts/Europa-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "Europa-Regular";
  src: url("../assets/fonts/Europa-Regular.woff2") format("woff2"), url("../assets/fonts/Europa-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Europa-Regular"; }

body {
  background: #221f2e; }

/*
*
TYPO
*
*/
h1 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 24px;
  margin-bottom: 30px;
  font-family: "Europa-Bold"; }

a {
  color: white;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  transition-duration: 0.4s; }

p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  line-height: 26px; }

/*
*
HEADER
*
*/
header {
  position: absolute;
  height: 20vh;
  width: 100vw;
  padding: 100px;
  z-index: 8;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  header nav ul {
    display: flex;
    list-style: none; }
    header nav ul li a {
      color: rgba(255, 255, 255, 0.5);
      margin-left: 20px; }
    header nav ul li a.active {
      color: white; }
    header nav ul li a:hover {
      color: white; }
    header nav ul li span {
      color: rgba(255, 255, 255, 0.5);
      margin-left: 20px; }

/*
*
MAP
*
*/
.map-chart {
  width: 100vw;
  height: 100vh; }

.map-breadcrumb {
  z-index: 10;
  position: absolute;
  width: 100vw;
  top: 40px; }
  .map-breadcrumb h1 {
    width: fit-content;
    padding: 10px 40px;
    margin: 0 auto;
    background-color: #00000050;
    border-radius: 15px;
    text-align: center; }

.legend-home .map-legend {
  list-style: none;
  position: absolute;
  background-color: #00000020;
  z-index: 10;
  padding: 20px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  bottom: 0; }
  .legend-home .map-legend .map-legend-item {
    text-transform: capitalize;
    display: flex;
    align-items: center;
    padding: 10px 30px;
    color: white; }
    .legend-home .map-legend .map-legend-item .map-legend-color {
      width: 20px;
      height: 20px;
      border-radius: 100%;
      margin-right: 10px; }

.decade-input {
  position: absolute;
  z-index: 10; }

.modal {
  z-index: 10;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .modal div {
    width: 400px;
    height: 150px; }

/*
*
HOME PAGE
*
*/
.home-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding-top: 20vh;
  padding-bottom: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .home-container p {
    width: 40vw;
    text-align: center; }
  .home-container .start-button {
    font-family: "Europa-Bold";
    font-size: 14px;
    letter-spacing: 3px;
    cursor: pointer;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 40px;
    border-radius: 5px;
    background: linear-gradient(#5651e9 0%, #4946e2); }
  .home-container .start-button:hover {
    background: linear-gradient(#6f6af1 0%, #5d5bf0); }
  .home-container .wave {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0; }
  .home-container .map {
    width: 80%;
    height: 100%;
    z-index: -100;
    opacity: 0.1;
    position: absolute; }

@keyframes wave-animation {
  0% {
    background-position: 0; }
  100% {
    background-position: 1600px; } }
@keyframes wave-animation-reverse {
  0% {
    background-position: 1600px; }
  100% {
    background-position: 0px; } }

/*# sourceMappingURL=main.css.map */
